.center {
    margin: auto auto auto auto ;
    width: 40%;
    padding: 1em;
}

.menu {

    border: 3px solid black;
    height: 2em;
    font-weight: bold;
}
.navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto auto auto auto;
    list-style: none;
}
li {
    padding: auto auto auto auto;
    float: left;
    text-align: center;
}
.menu a {
    color: black;
    text-decoration: none;
}

.container {
    display: grid;
    gap: 1em;
    column-gap: 2em;
    row-gap: 2em 2em;
    justify-items: center;
    height: 12em;
}

#main_content {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template: "promotion"
                    "info info info";
}

#footer_content{
    grid-template-columns: 1fr 1fr;
    grid-template: "logo content";
}

.promotion {
    grid-column: 1/ span 3;
    height: 10em;
    text-align: center;
    border: 3px solid black;
    width: 95%;
}

.info {
    height: 2em;
    text-align: center;
    border: 3px solid black;
    width: 95%;
    height: 3em;
    
}

main {
    height: 15em;
    padding: 1em;
    background-color: lightblue;
    align-items: normal;
}

footer {
    height: 1em;
    padding: 0.5em;
    background-color: lightcoral;
}

